.container {
  width: 800px;
  margin-top: 130px;
  display: block;
  border-radius: 10px;
  background: linear-gradient(
    175deg,
    rgb(252, 235, 115) 0%,
    rgb(62, 220, 232) 100%
  );
}

#search-form {
  padding: 50px 50px 30px;
}

#weather-information {
  font-size: larger;
  line-height: 1.5;
  font-weight: 600;
  color: #35495e;
}

.my-list {
  list-style: none;
}

div .col-4 {
  margin-left: 90px;
  text-align: right;
}

#current-description:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

#show-temperature {
  font-size: 50px;
  color: #430f58;
}

#weather-forecast-list {
  padding: 30px 0px;
  text-align: center;
  font-weight: 600;
  color: #283739;
}

.weekdays-forecast {
  opacity: 0.6;
}

.temperature-forecast-night {
  opacity: 0.6;
}

.footer {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
